.Music {
    background-color: #ffab5c;
    color: #a64942;
    display: flex;
    justify-content: center;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.videos_wrapper {
    height: 100%;
    width: 100%;
    min-height: 300px;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

h2, h3, p {
    font-family: 'Lato', sans-serif;
}