nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #23425f;
    opacity: .90;
    padding: 20px;
}

.nav-link {
    text-decoration: none;
    color: #ffab5e;
    margin: 0 10px;
}